{
  "credentials" : {
    "owner" : {
      "username" : "",
      "password" : ""
    },
    "empty_credential" : {
      "username" : "",
      "password" : ""
    },
    "invalid_pw" : {
      "username" : "",
      "password" : ""
    },
    "no_password" : {
      "username" : "",
      "password" : ""
    },
    "no_email" : {
      "username" : "",
      "password" : ""
    }
  },
  "browser" : "headless"
}